In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Analysis Without Noise

In [5]:
data = pd.read_csv('2ndorderfinal.csv')

In [6]:
data

,Relay Height,Gain,Time Constant(T1),Time Constant(T2),Delay,Amplitude,Time Period,Measured T1,Measured T2
0,1,1,2,1,2,0.5496,8.209,2.161431,0.862879
1,1,1,3,1,2,0.4484,8.877,3.009014,0.954499
2,1,1,4,1,2,0.3723,9.319,3.977311,0.970160
3,1,1,5,1,2,0.3148,9.605,5.016396,0.954744
4,1,1,6,1,2,0.2729,9.900,6.039168,0.980569
...,...,...,...,...,...,...,...,...,...
547,1,12,11,6,4,2.9800,26.326,11.463417,6.068804
548,1,12,12,6,4,2.8330,26.768,12.426706,6.113241
549,1,12,13,6,4,2.6960,27.082,13.502460,6.049913
550,1,12,14,6,4,2.5710,27.461,14.498066,6.090753
551,1,12,15,6,4,2.4550,27.780,15.538648,6.095979

In [7]:
y1 = data['Time Constant(T1)']

In [8]:
y2 = data['Time Constant(T2)']

In [9]:
data.drop(['Time Constant(T1)'], axis = 1, inplace = True)

In [10]:
data.drop(['Time Constant(T2)'], axis = 1, inplace = True)

In [11]:
data

,Relay Height,Gain,Delay,Amplitude,Time Period,Measured T1,Measured T2
0,1,1,2,0.5496,8.209,2.161431,0.862879
1,1,1,2,0.4484,8.877,3.009014,0.954499
2,1,1,2,0.3723,9.319,3.977311,0.970160
3,1,1,2,0.3148,9.605,5.016396,0.954744
4,1,1,2,0.2729,9.900,6.039168,0.980569
...,...,...,...,...,...,...,...
547,1,12,4,2.9800,26.326,11.463417,6.068804
548,1,12,4,2.8330,26.768,12.426706,6.113241
549,1,12,4,2.6960,27.082,13.502460,6.049913
550,1,12,4,2.5710,27.461,14.498066,6.090753
551,1,12,4,2.4550,27.780,15.538648,6.095979

In [12]:
X = data

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size = 0.2, random_state = 1)

In [14]:
from sklearn.tree import DecisionTreeRegressor
regressor1 = DecisionTreeRegressor(random_state = 2)
regressor1.fit(X_train, y_train)

DecisionTreeRegressor(random_state=2)

In [15]:
 regressor1.score(X_test,y_test)

0.9480615994385038

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size = 0.2, random_state = 1)

In [17]:
from sklearn.tree import DecisionTreeRegressor
regressor2 = DecisionTreeRegressor(random_state = 2)
regressor2.fit(X_train, y_train)

DecisionTreeRegressor(random_state=2)

In [18]:
 regressor2.score(X_test,y_test)

0.9701275633780074

In [86]:
y_pre = regressor4.predict([[1,3,4.2,1.319,20.222,5.9036,3.0893]]) # T1 = 5.5, T2 = 3.5
y_pre

array([3.])

In [81]:
y_pre = regressor3.predict([[1,5.5,3,1.522,18.270,7.869,3.6121]]) # T1 = 6.3, T2 = 4.2
y_pre

array([6.7])

In [82]:
y_pre = regressor3.predict([[1,4,2,0.7953,13.744,8.249,2.847]]) # T1 = 8, T2 = 3
y_pre

array([8.1])

In [83]:
y_pre = regressor3.predict([[1,2,3,0.6610,16.102,6.6069,2.4858]]) # T1 = 6.5, T2 = 2.5
y_pre

array([6.1])

In [84]:
y_pre = regressor3.predict([[1,5,4,2.709,15.959,4.5708,1.3980]]) # T1 = 4.8, T2 = 1.5
y_pre

array([6.3])

In [85]:
y_pre = regressor3.predict([[1,4,6,1.978,27.076,7.118,3.8011]]) # T1 = 7, T2 = 4
y_pre

array([6.7])

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size = 0.2, random_state = 1)

In [78]:
from sklearn.ensemble import RandomForestRegressor
regressor3 = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor3.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [79]:
regressor3.score(X_test,y_test)

0.9684092316584781

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size = 0.2, random_state = 1)

In [33]:
from sklearn.ensemble import RandomForestRegressor
regressor4 = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor4.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [34]:
regressor4.score(X_test,y_test)

0.9868262554497013